<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        body {
            text-align: center;
            font-family: Arial;
            background: linear-gradient(to right, #4facfe, #00f2fe);
            color: white;
        }
        .box {
            margin-top: 150px;
        }
        button {
            padding: 15px 30px;
            font-size: 18px;
            background: white;
            color: black;
            border: none;
            border-radius: 10px;
        }
    </style>
    <meta http-equiv="refresh" content="60">
</head>
<body>

<div class="box">
    <h1>Welcome to</h1>
    <h2>LAX360 Attendance Management System</h2>

    <br><br>
    <a href="/dashboard">
        <button>Next ➡</button>
    </a>
</div>

</body>
</html>